<div class="grid">
    <div class="col-12 sm:col-12 md:col-6 lg:col-4 center-container outer-form-container">
        <p-card>
            <div style="text-align: center;" class="mb-5">
                <p-image src="assets/logos/tracker-primary.png" alt="Image" width="250"></p-image>
            </div>
            <div class="m-2">
                <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText placeholder="Registered Email-id" />
                </span>
            </div>
            <div class="m-2">
                <p-button label="Retrieve Password" icon="pi pi-send" class="button-block"></p-button>
            </div>
            <div class="m-2 flex justify-content-between">
                <div>
                    <a routerLink="/register" class="outer-links">New User</a>
                </div>
                <div>
                    <a routerLink="/" class="outer-links">Login</a>
                </div>
            </div>
        </p-card>
    </div>
</div>